// general css
html {
  overflow-x: hidden;
  background-color: $color_beige2;
}
// ANIMATIONS
.page-enter-active, .page-leave-active {
  transition: opacity .4s
}
.page-enter, .page-leave-active {
  opacity: 0
}
.hidden {
  display: none;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}