$color_grey: #707070;
$color_beige1: #fcf8f2;
$color_beige2: #fff3e3;
$color_beige3: #fadeb7;
$color_skin: #dfb193;
$color_bordeau1: #9F534C;
$color_bordeau2: #883135;
$color_bordeau3: #74121D;
$color_aubergine1: #551A30;
$color_aubergine2: #402447;
$color_violet1: #453F78;
$color_violet2: #3F2E56;
$color_alphagrey: rgba(112,112,112,0.43);

$font2: 'Montserrat', sans-serif;
$font1: 'Aleo', serif;

$borderRadius: 4px;